<h1><%= @coffee.name %> - <%= link_to @coffee.brand.name, brand_path(@coffee.brand), class: "badge badge-pill badge-dark" %></h1>
<h2><%= render partial: "stars", locals: {coffee: @coffee} %></h2>
<%= @coffee.roast_level %> Roast<br>
<%= coffee_origin(@coffee) %>
<%= coffee_notes(@coffee) %>
<br>

<h2>Reviews</h2>
<br>
<h5><%= link_to "New Review", new_coffee_review_path(@coffee), class: "badge badge-dark border border-danger" %></h5>
<br>
<ul>
    <% @reviews.each do |review| %>
        <%= render partial: "/reviews/stars", locals: {review: review} if !!review.stars %>
        <p style="text-indent: 20px"> - <%= review.content %></p>
        - <%= review.user.name %><br>
        <%= user_review_options(review, @coffee) %>
        <br>
        <br>
    <% end %>
</ul>
<br>
<%= button_to "Edit Coffee", edit_coffee_path(@coffee), method: :get, class: "btn btn-dark" %>
<br>
<%= form_tag coffee_path(@coffee), method: :delete do %>
    <%= submit_tag "Delete Coffee", class: "btn btn-danger" %>
<% end %>



