<h1><%= @coffee.name %> - <%= link_to @coffee.brand.name, brand_path(@coffee.brand) %></h1>
<h2><%= render partial: "stars", locals: {coffee: @coffee} %></h2>
<%= @coffee.roast_level %> Roast<br>
<%= @coffee.origin %><br>
<%= @coffee.notes %><br>
<br>
<h2>Reviews</h2>
<ul>
    <% @coffee.reviews.each do |review| %>
        <li><%= review.content %></li>
        - <%= review.user.name %>
    <% end %>
</ul>
<br>
<%= link_to "Edit Coffee", edit_coffee_path(@coffee) %>
<%= form_tag coffee_path(@coffee), method: :delete do %>
    <%= submit_tag "Delete Coffee" %>
<% end %>


