<h1><%= @coffee.name %> - <%= @coffee.brand.name %></h1>
<h2><%= render partial: "stars", locals: {coffee: @coffee} %></h2>
<%= @coffee.roast_level %> Roast<br>
<%= @coffee.origin %><br>
<%= @coffee.notes %><br>
<br>
<%= link_to "Edit Coffee", edit_coffee_path(@coffee) %>
<%= form_tag coffee_path(@coffee), method: :delete do %>
    <%= submit_tag "Delete Coffee" %>
<% end %>

