<h1>Log In!</h1>
<br>
<%= render partial: "sessions/errors" %>

<%= form_for @user, url: login_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.submit "Log In", class: "btn btn-dark" %>
<% end %>