<h1><%= @user.name %></h1>
<br>
<ul>
    <h2>My Coffees</h2>
    <br>
    <h5><%= link_to "Add New Coffee", new_coffee_path, class: "badge badge-dark border border-danger" %></h5>
    <br>
    <% @user.coffees.uniq.each do |coffee| %>
        <li><%= link_to coffee.name, coffee_path(coffee), class: "badge badge-pill badge-dark" %></li>
        <ul>
        <% coffee.user_reviews(@user).each do |review| %>
            <li><%= review.content %> - <%= render partial: "/reviews/stars", locals: {review: review} if !!review.stars %></li>
        <% end %>
        </ul>
        <br>
    <% end %>
</ul>
<%= button_to "Edit Profile", edit_user_path(@user), method: :get, class: "btn btn-dark" %>
<br>
<%= form_tag user_path(@user), method: :delete do %>
    <%= submit_tag "Delete Profile", class: "btn btn-danger" %>
<% end %>