<h1><%= @brand.name %></h1>

<h2>Coffees</h2>
<ul>
    <% @brand.coffees.each do |coffee| %>
        <li><%= link_to coffee.name, coffee_path(coffee) %> - <%= render partial: "stars", locals: {coffee: coffee} %></li>
        <br>
    <% end %>
</ul>
<br>
<h2>Reviews</h2>
<ul>
    <% @brand.reviews.each do |review| %>
        <li><%= link_to review.content, coffee_path(review.coffee) %></li>
        - <%= review.user.name %>
        <br><br>
    <% end %>
</ul>