<h1><%= @brand.name %></h1>
<h2><%= @brand.location %></h2>
<br>
<h3>Coffees</h3>
<ul>
    <% @brand.coffees.each do |coffee| %>
        <li><%= link_to coffee.name, coffee_path(coffee) %> - <%= render partial: "stars", locals: {coffee: coffee} %></li>
        <br>
    <% end %>
</ul>
<br>
<h3>Reviews</h3>
<ul>
    <% @brand.reviews.each do |review| %>
        <li><%= link_to review.content, coffee_path(review.coffee) %></li>
        - <%= review.user.name %>
        <br><br>
    <% end %>
</ul>
<br>
<%= link_to "Edit Brand", edit_brand_path(@brand) %>